{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container px-4 py-5 mt-3">
  <h1 class="display-1 fw-bold mb-3 mainTitle">Sobre el creador</h1>
  <h2 class="display-4 fw-bold mb-3 subtitle">César Luciano Angeleri</h2>
  <div class="text-center">
    <img src="{% static "HomeBakery/assets/img/FotoPerfil.jpg" %}" class="img-fluid rounded-circle" width="300" alt="César Luciano Angeleri">
  </div>
  <h3 class="display-5 fw-bold mb-3 subtitle">Acerca de mi</h3>
  <p class="lead fs-2">Formación como Técnico Electromecánico, con conocimientos tanto en software y hardware, dispositivos e instalaciones informáticas como en instalaciones industriales, máquinas y herramientas mecánicas/eléctricas.</p>
  <p class="lead fs-2">Soy estudiante avanzado de la carrera de Ingeniería Mecánica, también estoy formándome como Analista de Datos (Data Analyst) y capacitándome en otras áreas de IT (programación, bases de datos, etc).</p>
  <p class="lead fs-2">Deseo avanzar sobre la integración de las áreas de producción, fabricación y diseño con el área informática y computacional. Me apasiona la innovación de la tecnología y el diseño. Mi perfil como futuro ingeniero mecánico está orientado hacia la implementación de nuevas tecnologías digitales en la industria para lograr la competitividad y ser parte de la Industria 4.0.</p>
  <h5 class="display-6 text-center">Redes sociales:</h5>
   <ul class="list-unstyled d-flex justify-content-center">
      <li class="m-2"><a class="text-secondary" href="https://www.linkedin.com/in/cesar-luciano-angeleri/"><i class="fs-2 fa-brands fa-linkedin"></i></a></li>
       <li class="m-2"><a class="text-secondary" href="https://github.com/LucianoAngeleri"><i class="fs-2 fa-brands fa-github"></i></a></li>
  </ul>
</section>
{% endblock %}