<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web de Home Bakery (Panadería)">
    <meta name="keywords" content="proyecto, django, python, panadería, home, bakery , home bakery">
    <meta name="author" content="César Luciano Angeleri">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'HomeBakery/css/fontawesomefree/css/all.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'HomeBakery/css/style.css' %}" type="text/css">
    <title>Home Bakery</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark sticky-top rounded-bottom-4">
            <div class="container-fluid">
              <a class="navbar-brand text-warning " href="{% url 'index' %}"><img src="{% static 'HomeBakery/assets/img/Logo-HOME-BAKERY_ColorMono.png' %}" class="d-inline-block align-text-top" alt="Logo de Home Bakery" width="52px"><span class="px-1"></span>Home Bakery</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><i class="fa-solid fa-house px-2 py-1"></i>Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'producto' %}"><i class="fa-solid fa-bread-slice px-2 py-1"></i>Productos</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'pedido_crear' %}"><i class="fa-solid fa-cart-shopping px-2 py-1"></i></span>Hacer un Pedido</a>
                  </li>
                  {% endif %}
                </ul>
                <form class="d-flex" role="search" action="{% url 'producto_buscar' %}">
                  <input class="form-control me-2" name="criterio" type="search" placeholder="Buscar productos" aria-label="Search">
                  <button class="btn btn-outline-warning" type="submit"><i class="fa-solid fa-magnifying-glass px-2 py-1"></i></button>
                </form>
                <div class="text-end d-flex flex-lg-row justify-content-center gap-2 m-3">
                  {% if user.is_authenticated %}
                  <div class="dropdown text-end">
                    <a href="#" class="badge d-flex align-items-center p-1 pe-3 border border-secondary-subtle rounded-pill dropdown-toggle fs-4" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="{{user.profile.imagen_avatar_url}}" alt="mdo" width="32" height="32" class="rounded-circle me-1">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-md-start  text-small">
                      <li class="text-center m-3 fw-bold lead">Hola, {{ user.username }}</li>
                      {% if user.profile %}
                        <li><a class="dropdown-item" href="{% url 'profile_actualizar' user.profile.id %}"><i class="fa-regular fa-address-card px-2 py-1"></i>Actualizar Perfil</a></li>
                      {% else %}
                        <li><a class="dropdown-item" href="{% url 'profile_crear' %}"><i class="fa-regular fa-address-card px-2 py-1"></i>Crear Perfil</a></li>
                      {% endif %}
                      <li><a class="dropdown-item" href="{% url 'producto_lista_mine' %}"><i class="fa-solid fa-bread-slice  px-2 py-1"></i>Mis Productos</a>
                      <li><a class="dropdown-item" href="{% url 'pedido_lista_mine' %}"><i class="fa-solid fa-cart-shopping px-2 py-1"></i>Mis Pedidos</a>
                      {% if user.is_superuser %}
                      <li><a class="dropdown-item" href="{% url 'mensaje_lista_mine' %}"><i class="fa-regular fa-message px-2 py-1"></i>Mis Mensajes</a>
                      {% endif %}
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="fa-solid fa-xmark px-2 py-1"></i>Salir</a></li>
                    </ul>
                  </div>
                  {% else %}
                  <a href="{% url 'login' %}" class="btn btn-outline-warning">Ingresar</a>
                  <a href="{% url 'signup' %}" class="btn btn-warning">Registrarse</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer class="py-5 mt-4 text-bg-dark rounded-top-5">
      <div class="container-fluid">
        <div class="row g-2">
          <aside class="col-12 col-lg d-flex flex-column align-items-center text-secondary p-3">
            <hr class="d-md-none">
            <a href="{% url 'index' %}" class="text-decoration-none">
              <img src="{% static 'HomeBakery/assets/img/Logo-HOME-BAKERY_Color.png' %}" alt="Logo de Home Bakery" width="98px">
            </a>
            <h6 class="fs-5 text-warning">Home Bakery</h6>
            <span class="">© Copyright // Home Bakery // 2023</span>
          </aside>
          <div class="vr d-none d-lg-block p-0"></div>
          <aside class="col-12 col-md text-secondary p-3">
            <hr class="d-md-none">
            <h5 class="display-6">Links</h5>
            <ul class="list-unstyled">
              <li class="list-item"><a class="text-secondary fs-4" href="{% url 'about' %}">Acerca de Nosotros</a></li>
              <li class="list-item"><a class="text-secondary fs-4" href="{% url 'mensaje_crear' %}">Contacto</a></li>
            </ul>
          </aside>
          <div class="vr d-none d-md-block p-0"></div>
          <aside class="col-12 col-md text-secondary p-3">
            <hr class="d-md-none">
            <ul class="list-unstyled">
              <li class="list-item"><h6 class="display-6">Horarios de Atención:</h6>
                <ul>
                  <li>Lunes - Viernes de 7 a 13 hs // 16:30 a 21 hs</li>
                  <li>Domingo de 8 a 14 hs // 17 a 21 hs</li>
                </ul>
              </li>
              <li class="list-item">
                <h6 class="display-6">Dirección:</h6>
                <p>Av. XXXXXXXX XXXX</p></li>
              <li class="list-item">
                <h6 class="display-6">Teléfono:</h6>
                <p>+54 XXX XXXXXX</p></li>
              <li class="list-item">
                <h6 class="display-6">Correo electrónico:</h6>
                <p>homebakery.tuc@gmail.com</p></li>
            </ul>
          </aside>
          <div class="vr d-none d-lg-block p-0"></div>
          <aside class="col-12 col-lg d-flex flex-column justify-content-center text-secondary p-3">
            <hr class="d-md-none">
            <h5 class="display-6 text-center">Seguinos en nuestras redes sociales:</h5>
            <ul class="list-unstyled d-flex justify-content-center">
              <li class="m-2"><a class="text-secondary" href="https://www.facebook.com/"><i class="fs-2 fa-brands fa-facebook"></i></a></li>
              <li class="m-2"><a class="text-secondary" href="https://www.instagram.com/"><i class="fs-2 fa-brands fa-instagram"></i></i></a></li>
              <li class="m-2"><a class="text-secondary" href="https://github.com/LucianoAngeleri"><i class="fs-2 fa-brands fa-github"></i></i></a></li>
            </ul>
          </aside>
        </div>
      </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>