{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container col-xxl-8 px-4 py-5 mt-5">
    <h1 class="display-1 fw-bold lh-1 mb-3 mainTitle">Detalle del Cliente</h1>
    <ul class="list-group">
        <li class="list-group-item">Nombre: {{cliente.nombre}}</li>
        <li class="list-group-item">Apellido: {{cliente.apellido}}</li>
        <li class="list-group-item">Fecha de Nacimiento: {{cliente.fecha_nacimiento}}</li>
        <li class="list-group-item">Email: {{cliente.email}}</li>
        <li class="list-group-item">Teléfono: {{cliente.telefono}}</li>
        <li class="list-group-item">Dirección: {{cliente.direccion}}</li>
    </ul>
</section>
{% endblock %}