{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container px-4 py-5 mt-3">
  <h1 class="display-1 fw-bold lh-1 mb-3 mainTitle">Lista de Pedidos</h1>
  <h2 class="display-4 fw-bold lh-1 mb-3 subtitle">Estos son tus pedidos</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    {% for pedido in pedidos %}
    <div class="col">
      <div class="card text-bg-dark border-0 rounded-5">
        <div class="card-img-top position-relative">
          <div class="card-img-top-gradiente"></div>
          <img src="{% static 'HomeBakery/assets/img/Hamburguesa-1.jpg' %}" class="img-fluid rounded-top-5" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{pedido.fecha_pedido}}</h5>
          <p class="card-text">ID pedido: {{pedido.id}}</p>
          <p class="card-text">Productos: {{pedido.productos}}</p>
            <ul class="list-unstyled d-flex justify-content-between g-3">
              <li class="list-item"><a class="btn btn-outline-primary btn-sm" href="{% url 'pedido_detalle' pedido.id %}">Detalle</a>
              </li>
              {% if user.is_authenticated %}
              <li class="list-item"><a class="btn btn-outline-warning btn-sm" href="{% url 'pedido_actualizar' pedido.id %}">Actualizar</a></li>
              <li class="list-item"><a class="btn btn-outline-danger btn-sm" href="{% url 'pedido_borrar' pedido.id %}">Eliminar</a></li>
              {% endif %}
            </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}