{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container col-xxl-8 px-4 py-5 mt-5">
    <h1 class="display-1 fw-bold mb-3 text-danger">Va a eliminar el pedido "{{pedido.fecha_pedido}}"</h1>
    <h2 class="display-4 fw-bold mb-3 subtitle">Está seguro de que desea eliminarlo?</h2>
      <form method="post">
        {% csrf_token %} 
        {{form}}
        <input class="btn btn-danger" type="submit" value="Borrar Pedido" />
        <a href="{% url 'pedido_lista' %}" class="btn btn-secondary" >Cancelar</a>
      </form>
</section>
{% endblock %}