{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container col-xxl-8 px-4 py-5 mt-5">
    <h1 class="display-1 fw-bold lh-1 mb-3 mainTitle">Detalle del Pedido</h1>
    <ul class="list-group">
        <li class="list-group-item">ID Pedido: {{pedido.id}}</li>
        <li class="list-group-item">Fecha del Pedido: {{pedido.fecha_pedido}}</li>
        <li class="list-group-item">Hora del Pedido: {{pedido.hora_pedido}} hs</li>
        <li class="list-group-item">Cliente: {{pedido.cliente}}</li>
        <li class="list-group-item">Productos: {{pedido.producto}}</li>
        <li class="list-group-item">Cantidad: {{pedido.cantidad_producto}}</li>
    </ul>
</section>
{% endblock %}