{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'HomeBakery/assets/img/img-pedido.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Imágen de Panes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-1 fw-bold lh-1 mb-3 mainTitle">Pedidos</h1>
        <h2 class="display-4 fw-bold lh-1 mb-3 subtitle">Crea tus pedidos aquí</h2>
      </div>
    </div>
</section>            
{% endblock %}