{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container col-xxl-8 px-4 py-5 mt-5">
    <h1 class="display-1 fw-bold lh-1 mb-3 mainTitle">Detalle del Producto</h1>
    <h2 class="display-4 fw-bold lh-1 mb-3 subtitle">{{producto.nombre_producto}}</h2>
    <table class="table table-hover table-dark table-responsive">
        <tbody>
          <tr>
            <td class="lead fw-bold">Descripción del Producto</td>
            <td class="lead">{{producto.descripcion_producto}}</td>
          </tr>
          <tr>
            <td class="lead fw-bold">Precio del Producto</td>
            <td class="lead">${{producto.precio}}</td>
          </tr>
        </tbody>
      </table>
      <img class="img-fluid" src="{{producto.imagen_producto_url}}" alt="Imágen del producto"></td>
</section>
{% endblock %}