{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container px-4 py-5 mt-3">
{% if productos %}
  <h1 class="display-1 fw-bold mb-3 mainTitle">Lista de Productos</h1>
  <h2 class="display-4 fw-bold mb-3 subtitle">Productos Encontrados</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
{% for producto in productos %}
    <div class="col">
      <div class="card text-bg-dark border-0 rounded-5">
        <div class="card-img-top position-relative">
          <div class="card-img-top-gradiente-vertical"></div>
          <img src="{% static 'HomeBakery/assets/img/Hamburguesa-1.jpg' %}" class="img-fluid rounded-top-5" alt="..." />
        </div>
        <div class="badge-precio text-center">
          <span class="badge rounded-pill text-bg-danger fs-4">${{producto.precio_producto}}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre_producto}}</h5>
          <p class="card-text">ID Producto: {{producto.id}}</p>
            <ul class="list-unstyled d-flex justify-content-between g-4">
              <li class="list-item"><a class="btn btn-outline-primary btn-sm" href="{% url 'producto_detalle' producto.id %}">Detalle</a>
              </li>
              <li class="list-item"><a class="btn btn-outline-warning btn-sm" href="{% url 'producto_actualizar' producto.id %}">Actualizar</a></li>
              <li class="list-item"><a class="btn btn-outline-danger btn-sm" href="{% url 'producto_borrar' producto.id %}">Eliminar</a></li>
            </ul>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
{% else %}
  <div class="text-center">
    <span class="display-1 subtitle"><i class="fa-sharp fa-regular fa-circle-xmark"></i></span> 
  </div>
  <h2 class="display-2 fw-bold my-3 subtitle">No se encontraron productos...</h2>
{% endif %}
</section>
{% endblock %}