{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container px-4 py-5 mt-3">
  <h1 class="display-1 fw-bold mb-3 mainTitle">Lista de Productos</h1>
  {% if productos %}
  <h2 class="display-4 fw-bold mb-3 subtitle">Productos disponibles</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    {% for producto in productos %}
    <div class="col">
      <div class="card h-100 text-bg-dark border-0 rounded-5">
        <div class="card-img-top position-relative">
          <div class="card-img-top-gradiente-vertical"></div>
          <img src="{{producto.imagen_producto_url}}" class="img-fluid rounded-top-5" alt="..." />
        </div>
        <div class="badge-precio text-center">
          <span class="badge rounded-pill text-bg-danger fs-4">${{producto.precio}}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre_producto}}</h5>
          <p class="card-text">{{producto.descripcion_producto}}</p>
            <ul class="list-unstyled d-flex justify-content-between g-3">
              <li class="list-item"><a class="btn btn-outline-primary btn-sm" href="{% url 'producto_detalle' producto.id %}">Detalle</a>
              </li>
              {% if user.is_authenticated and user.id == producto.propietario.id %}
              <li class="list-item"><a class="btn btn-outline-warning btn-sm" href="{% url 'producto_actualizar' producto.id %}">Actualizar</a></li>
              <li class="list-item"><a class="btn btn-outline-danger btn-sm" href="{% url 'producto_borrar' producto.id %}">Eliminar</a></li>
              {% endif %}
            </ul>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h2 class="display-4 fw-bold mb-3 subtitle">No existe ningún producto</h2>
    {% endif %}
  </div>
</section>
{% endblock %}