{% extends 'HomeBakery/base.html' %}
{% load static %}
{% block main %}
<section class="container col-xxl-8 px-4 py-5 mt-5">
    <h1 class="display-1 fw-bold lh-1 mb-3 mainTitle">Actualizar el Producto</h1>
    <h2 class="display-4 fw-bold lh-1 mb-3 subtitle">Ingresa los nuevos datos:</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <input class="btn btn-warning" type="submit" value="Actualizar Producto" />
    </form>
</section>
{% endblock %}